:root {
	--primary: #fafafa;
	--secondary: #afafaf;
	--tertiary: #60ba60;
	--black: #ffffff;
	--white: #010101;
	--bg: #123456;
}

:root {
    --content-width: 40rem;
    --input-width: 8rem;
    --body-padding: 6.4rem;
    --page-padding: 1.6rem;
    --font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --font-family--mono: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
    --font-size-base: 11px;
    --font-size-xx-small: 1.1rem;
    --font-size-x-small: 1.2rem;
    --font-size-small: 1.4rem;
    --font-size-medium: 1.6rem;
    --font-size-large: 1.8rem;
    --font-size-x-large: 2.4rem;
    --font-size-xx-large: 3.4rem;
    --base-space: 1.25em;
    --half-space: calc(var(--base-space) / 2);
    --quarter-space: calc(var(--base-space) / 4);
    --eighth-space: calc(var(--base-space) / 8);
    --double-space: calc(var(--base-space) * 2);
}

body {
	background-color: var(--bg);
	color: var(--primary);
	font-family: var(--font-family);
	font-size: var(--font-size-medium);
}

.page__content {
    max-width: var(--content-width);
    margin: 0 auto;
}

div#word_list {
	border-top: 0.2rem solid var(--secondary);
	font-family: var(--font-family--mono);
	padding-top: var(--page-padding);
}

input#input {
    margin-top: var(--quarter-space);
    font-family: var(--font-family--mono);
    font-size: var(--font-size-medium);
    width: var(--input-width);

}

div#footer {
    color: var(--tertiary);
    font-size: var(--font-size-xx-small);
    margin-top: auto;
}
button#share-score-button {
    font-family: var(--font-family--mono);
    font-size: var(--font-size-small);
    color: var(--primary);
    background-color: var(--bg);
    border: var(--eighth-space) solid var(--primary);
    padding: var(--half-space);
    text-decoration: underline;
    margin-top: var(--base-space);